@model Show

@{
    ViewData["Title"] = "Shows";
}
<h1 style="color:whitesmoke">@ViewData["Title"]</h1>

<br />

@if (ViewBag.MostPopularShows.Count > 0){
    <table style="width:100%; align-content:center; border:dotted">
        <caption>Most popular shows:</caption>
        <tr style="align-content:center; width:inherit">
            @foreach (var show in ViewBag.MostPopularShows)
            {
                <td style="color:aqua; outline-color:purple; padding:15px">@show.Title</td>
            }
        </tr>
    </table>
}



<br />


@using (Html.BeginForm("SearchedShow", "Show", FormMethod.Post))
{
    <b style="color:whitesmoke">Title: </b>

    @Html.TextBoxFor( m => m.Title, new { placeholder = "Enter Title" })
    @Html.DropDownListFor(m => m.Type, new SelectList(Enum.GetValues(typeof(ShowType))))
    <input type="submit" name="SaveButton" value="Search" />
}

<br />
<div style="color:red">@TempData["Info"]</div>



