@model Show

@{
    ViewData["Title"] = "Shows";
}
<h1 style="color:whitesmoke">@ViewData["Title"]</h1>



<tbody>
    
    @foreach (var show in ViewBag.Shows){
        <tr>
            <td>@show.Id</td>
            <td>@show.Title</td>
        </tr>
    }

</tbody>

<br />


@using (Html.BeginForm("PostedShow", "Show", FormMethod.Post))
{
    <b style="color:whitesmoke">Title: </b>

    @Html.TextBoxFor( m => m.Title, new { placeholder = "Enter Title" })
    <input type="submit" name="SaveButton" value="Search" />
}

<br />
<div style="color:red">@TempData["Info"]</div>



