@model Show

@{
    ViewData["Title"] = ViewBag.ShowTitle;
}
@{

}

<body>
<div style="color:whitesmoke">Searched:</div>
<img src="@ViewBag.Poster" alt="Poster of show" width="500" height="600">
<br />
<div style="color:whitesmoke">@ViewBag.Type, @ViewBag.ShowTitle</div>
<br />
<div style="color:whitesmoke">Score: @ViewBag.Score</div>
<br />
<div style="color:whitesmoke">@ViewBag.Overview</div>
</body>